html, body {
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    background-color: #98D2C0;
    justify-content: center;
}

h1 {
    text-align: center;
    color: #121212;
}

.searchBar {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

input {
    font-size: 15px;
    width: 350px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid black;
}

button {
    margin-left: 10px;
    font-size: 17px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: white;
    width: 40px;
    cursor: pointer;
}

button:hover {
    background-color: #07051a;
    color: white;
}


.keywordSearchForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

.keywordSearchForm input,
.keywordSearchForm select,
.keywordSearchForm button {
    padding: 8px;
    font-size: 16px;
}

.keywordResults {
    margin: 20px;
    font-family: Arial, sans-serif;
}
